@charset "ISO-8859-1";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #3d13d6;
}

form {
    display: flex;
	flex-direction: column;
	padding: 20px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	gap: 10px;
	width: 100%px;
	box-shadow: 10px 10px 10px #303235;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0077B6;
}

.form-content {
    display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 15px;
}

.radio {
    flex-direction: row;
}

input {
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
    font-weight: bold;
}

label {
	font-size: 20px;
	font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    color: white;
}

a {
	text-decoration: none;
	color: #0077B6;
	cursor: pointer;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox input {
    margin-left: 20px;
}

.checkbox label {
    cursor: pointer;
}

img {
    width: 45px;
    margin-right: 10px;
}

.cursos {
    border: 2px solid white;
    border-radius: 20px;
    padding: 25px;
}

.button {
	padding: 15px;
    background-color: #3d13d6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #4023a8;
}

.checkbox label {
    font-size: 20px;
    font-weight: bold;
}

.cursos label {
    justify-content: center;
}

input[type="checkbox"] {
    transform: scale(1.4);
}

.title {
    color: white;
    margin-top: 20px;
}

header {
    background-color: #303235;
    width: 100%;
    text-align: center;
    padding: 20px;
}

a {
    color: white;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}