@charset "ISO-8859-1";

input[type="submit"] {
	margin-top: 30px;
}

form label {
	justify-content: center;
	font-size: 25px;
}

select {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 17px;
    color: #333;
    cursor: pointer;
    margin-top: 30px;
}

select:hover {
    border-color: #007BFF; 
}

table {
    background-color: #242124;
    padding: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 20px;
    min-width: 90%;
}

th {
    border: 2px solid white;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

td {
    border: 2px solid white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}